rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Tracker Rules
    match /trackers/{userId} {
      allow read: if isOwner(userId);
      allow create: if isOwner(userId) && isValidTracker(request.resource.data);
      allow update: if isOwner(userId) && isValidTracker(request.resource.data);
      allow delete: if false;
    }

    // License Key Rules
    match /license_keys/{keyId} {
      allow read, list, create, delete: if true;
    }

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isValidKey(data) {
      return data.keys().hasAll(['key', 'createdAt']) &&
             data.key is string &&
             data.key.size() >= 5;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isValidTracker(data) {
      return data.keys().hasAll(['userId', 'trackerActive']) &&
             data.userId is string &&
             data.userId == request.auth.uid &&
             data.trackerActive is bool &&
             (data.get('activatedAt', null) == null || data.activatedAt is string) &&
             (data.get('xtreamUsername', null) == null || data.xtreamUsername is string);
    }
  }
}
